<div class="center">
  <h1>Airbnb Profit Calculator</h1>

  <p>Calculate how much money you could be making by putting your property on AirBnB over renting it long term!</p>

  <%= render "calculation_form" %>

  <br />

  <% if params[:long_term_rent].present? %>
    <div class="long-term-rent-display">
      Your long term rent: <%= params[:long_term_rent] %>
    </div>
  <% end %>

  <% if params[:airbnb_rent].present? %>
    <div class="airbnb-rent-display">
      Your AirBnb rent potential: <%= params[:airbnb_rent] %>
    </div>
  <% end %>

  <% if params[:long_term_rent].present? && params[:airbnb_rent].present? %>
    <div class="total">
      <%= calculated_text(params) %>
    </div>
  <% end %>
</div>
